.holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  grid-template-rows: repeat(2, 1fr); /* Two equal rows */
  width: 200px; /* Total width of the grid */
  height: 200px; /* Total height of the grid */
}


.item{
    background-color: aqua;
    height: 100px;
}